<% title 'Recent snippets' %>

<%= javascript_tag do %>
    var delimiter = $('<div class="page-delimiter" data-page="<%= params[:page] %>"></div>');
    $('#snippets').append(delimiter);
    $('#snippets').append('<%= j render @snippets %>');
    $('.pagination').replaceWith('<%= j will_paginate @snippets %>');
    preparePagination(delimiter);

    <% unless @snippets.next_page %>
        $('#infinite-scrolling .pagination').remove();
    <% end %>
<% end %>

<div class="page-header">
  <%= link_to new_snippet_path, :class => 'btn btn-add' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Snippet
  <% end %>
  <h1>Recent snippets</h1>
</div>

<div id="static-pagination">
  <%= will_paginate %>
</div>

<% if @snippets.size > 0 %>
<div>
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th class="snippet-header">Snippet</th>
        <th>Lang</th>
        <th>Description</th>
        <th>Last modification</th>
        <th class="button-header"></th>
        <th class="button-header"></th>
      </tr>
    </thead>

    <tbody id="snippets">
        <div class="page-delimiter first-page" data-page="<%= params[:page] || 1 %>"></div>
        <% render @snippets %>
    </tbody>
  </table>
</div>

<% if @snippets.next_page %>
    <div id="infinite-scrolling">
      <%= will_paginate %>
    </div>
<% end %>

<%= javascript_tag do %>
    $(document).ready(function() {
        // Make rows clickable
        $(".table tr").on('click', function(event) {
            var target = $(event.target);
            if (target.is(":not(a)") && target.is(":not(span)")) {
                var href = $(this).data("link");
                if (href) {
                    window.location.href = href;
                }
            }
        });
    });
<% end %>

<% else %>
    <em>No snippets found.</em>
<% end %>